---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<header>Teaching Assistant Positions</header>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single2.html %}
{% endfor %}

<header>Notes</header>

<ul>
  <li>A brief introduction to reduced order models (two lectures for MATH 228B at UC Berkeley) <a href="https://github.com/maxhirsch/intro-to-rom/tree/main">[Code]</a> <a href="https://maxhirsch.github.io/files/Reduced_Order_Models_Special_Lecture.pdf">[Notes]</a></li>
</ul>
